:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-80: #828282;
  --color-grey-60: #b5b5b5;
  --color-grey-50: #fbfbfb;
  --color-grey-40: #d7d7d7;
  --color-grey-30: #f8f8f8;
  --color-grey-25: #f2f2f2;
  --color-blue-20: #e7ebff;
  --color-blue-80: #4285f4;
  --color-purple-90: #605BFF
}
